*.pyc
tests/test.h
tests/test.md
tests/test.json
tests/test.rs
*.html
tests/test.py
tests/test.txt
tests/.coverage
tests/coverage/test-results.xml
.ruff_cache
.pytest_cache
.mypy_cache
__pycache__
*.egg-info
.coverage
.tox
.venv
venv
env